


#menuBG{width:400px;
	height:470px;
	margin:10px auto;
	padding: 5px;
	font-style: italic;
}
	
#frmMenu{width:412px;
	height:200px;
	padding: 5px;
}
	
	
#totalPrice{width:200px;
	height:190px;
	margin:0 auto;
	float:right;
}
	
.left {
	width:200px;
	height:200px;
	float:left;
	background:#fff;
	border-style: double;
	font-style: italic;
} 

.right{
	width:200px;
	height:200px;
	float:right;
	background:#fff;
	border-style: double;
	font-style: italic;
}
	
#showText{width:200px;
	height:190px;
	margin:0px auto;
	float:left;
}
	
#cart{top:0;
	margin:0px auto;
	width:400px;
	height:200px;
	background:#fff;
	border-style: double;
	font-style: italic;
}
}
	
#btnOrder{margin:10px 0px 0px 100px;
	width:100px;
	height:40px;
}



